<div home-state controller="app.components.states.HomeState">
    <style component="css-helpers"></style>
    <style component="css-material-icons"></style>
    <style>
        [home-state]{
            width:100%;
            height:100%;

        }
        [homelayout] {
            max-width: 450px;
            margin:auto;
        }
    </style>
    <div component="toolbar">
        <div home-page-title tag="homePageTitle">SUPTR Employee Resources</div>
    </div>
    <div>Home Page</div>

</div>