<div schedule-state controller="app.components.states.ScheduleState">
    <style component="css-helpers"></style>
    <style component="css-material-icons"></style>
    <style>
        [calendar-container]{
            max-width:1000px;
            margin:auto;
        }
    </style>
    <div component="toolbar">
        <div>Employee Calendar</div>
    </div>
    <div calendar-container>
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=suptr.orders%40gmail.com&amp;color=%2329527A&amp;src=%23contacts%40group.v.calendar.google.com&amp;color=%23AB8B00&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FDenver" style="border-width:0" width="1000" height="700" frameborder="0" scrolling="no" margin="0"></iframe>
    </div>
</div>
